* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #E5E5E5;
  padding-top: 46px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 3px #1890FF;
}

button {
  cursor: pointer;
}

.header {
  background-color: #0050B3;
  padding: 6px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.m-menu {
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 0;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 12px;
  display: none;
}

.m-menu .line {
  width: 100%;
  height: 1px;
  background-color: #ffff;
}

.header-block {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  width: 100%;
  max-width: 336px;
}

.search-input {
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  padding: 5px 30px 5px 12px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  background-image: url('../img/search-icon.svg');
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.navigation {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}

.user-avatar {
  margin-right: 8px;
}

.user-name {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.navigation-panel {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.navigation-link {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin-left: 12px;
}

.navigation-link::before {
  content: '';
  width: 1px;
  height: 16px;
  background-color: #003A8C;
  margin-right: 12px;
}

.navigation-link:last-child::after {
  content: '';
  width: 1px;
  height: 16px;
  background-color: #003A8C;
  margin-left: 12px;
}

.icons-panel {
  display: flex;
  align-items: center;
}

.icon-link {
  display: flex;
  align-items: center;
  margin-left: 17px;
}

.icon-link:last-child:before {
  content: '';
  width: 1px;
  height: 16px;
  background-color: #003A8C;
  margin-right: 12px;
}

.icon-dropdown {
  margin-left: 7px;
}

.header-dropdown {
  fill: #002766;
  transition: fill 0.5s ease;
}

.header-dropdown:hover {
  fill: #ffffff;
}

.header-icon {
  fill: #002766;
  transition: fill 0.5s ease;
}

.header-icon:hover {
  fill: #FFFFFF;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.menu-sidebar {
  width: 192px;
  margin-top: 18px;
  margin-right: 12px;
}

.menu-sidebar .user {
  padding-left: 10px;
}

.menu-sidebar .user-avatar {
  width: 24px;
  height: 24px;
}

.menu-sidebar .user-name {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

.nav-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 24px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  color: #595959;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.nav-link.active {
  background-color: #FFFFFF;
  color: #262626;
}

.nav-link.active .drag-and-drop {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.drag-and-drop {
  display: none;
}

.nav-icon {
  margin-right: 8px;
  fill: #1890FF;
}

.nav-title {
  color: #262626;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  padding-left: 10px;
  margin-bottom: 4px;
  margin-top: 0;
}

.dropdown-link {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  color: #595959;
  border-radius: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  transition: color 0.3s ease;
}

.dropdown-link:hover {
  color: #1890FF;
}

.dropdown-icon {
  margin-right: 12px;
  fill: #BFBFBF;
}

.main-feed {
  max-width: 588px;
  margin-top: 18px;
  margin-right: 13px;
  flex-grow: 1;
}

.create-post {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
}

.create-post-header {
  background: #F5F5F5;
  padding: 9px 16px;
  border-bottom: 1px solid #D9D9D9;
}

.create-post-title {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  font-weight: 600;
}

.create-post-body {
  padding: 16px 16px 24px 16px;
  display: flex;
  align-items: flex-start;
}

.create-post-input {
  padding-top: 5px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #8C8C8C;
}

.create-post-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 16px 16px 16px;
}

.create-post-footer::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #E8E8E8;
  margin-bottom: 16px;
}

.tag {
  background: #F5F5F5;
  border-radius: 48px;
  border: none;
  padding: 9px 12px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.tag:last-child {
  margin-right: 0;
}

.tag-icon {
  margin-right: 8px;
}

.tag-icon:last-child {
  margin-right: 0;
}

.post {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.post-header .user-avatar {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.post-info {
  display: flex;
  flex-wrap: wrap;
}

.post-author {
  width: 100%;
}

.post-header-button {
  background-color: #ffff;
  border: none;
}

.post-author {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
}

.post-info-time {
  display: flex;
  align-items: center;
}

.post-time {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
}

.post-time:after {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #BFBFBF;
  margin: 0 6px;
  vertical-align: middle;
}

.post-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-bottom: 16px;
}

.post-text a {
  color: #096DD9;
}

.post-image {
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  max-width: 100%;
}

.post-likes {
  margin: 9px 0;
  display: flex;
  align-items: center;
}

.likes-counter {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-left: 4px;
}

.likes-icon {
  fill: #1890FF;
}

.post-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.post-footer:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #E8E8E8;
  margin-bottom: 16px;
}

.post-button {
  background-color: #ffff;
  border: none;
  display: flex;
  align-items: center;
}

.post-button-text {
  margin-left: 8px;
  font-weight: 600;
  font-size: 14px;
  color: #595959;
}

.post-icon {
  fill: #595959;
}

.right-sidebar {
  width: 384px;
}

.stories {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 16px;
  padding: 16px;
  padding-left: 24px;
}

.stories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.stories-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

.stories-icon {
  fill: #0050B3;
  width: 16px;
  height: 16px;
}

.stories-buttons {
  display: flex;
  align-items: center;
}

.story-button-link {
  display: inline-flex;
  align-items: center;
}

.story-button-link:first-child:after {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #BFBFBF;
  margin: 0 8px;
}

.stories-icon {
  margin-right: 4px;
}

.story-button-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
}
.story-image, .statistics-user-image {
  background: #F5F5F5;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #1890FF;
  margin-right: 12px;
}
.story-title, .statistics-user-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
  width: 100%;
  margin-bottom: 4px;
}

.story-item-text {
  display: flex;
  flex-wrap: wrap;
}

.story-text, .story-time {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
}

.story-item-add, .story-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.story-item:last-child {
  margin-bottom: 0;
}

.story-item-active .story-image {
  border: 3px solid #1890FF;
}

.concuria {
  background-image: url(../img/concuria.jpg);
  background-position: center;
  background-size: cover;
}

.figma {
  background-image: url(../img/figma.jpg);
  background-position: center;
  background-size: cover;
}

.ant-disign {
  background-image: url(../img/ant-disign.jpg);
  background-position: center;
  background-size: cover;
}

.stories .dropdown-link {
  padding: 0;
}

.birthday {
  margin: 16px 0;
  padding: 16px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.birthday-icon {
  margin-right: 12px;
}

.birthday-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
}

.birthday-day {
  margin-left: -3px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.statistics {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.statistics-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D9D9D9;
  padding: 9px 16px;
}

.statistics-header-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.statistics-info {
  padding: 16px;
}

.statistics-user{
  display: flex;
  margin-bottom: 23px;
}

.info-item {
  display: flex;
  align-items: center;
}

.info-icon {
  margin-right: 4px;
}

.info-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
}

.item-hover {
  height: 100%;
  min-width: 17px;
  background: #F5F5F5;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #595959;
  margin-left: 5px;
}

.items-btns {
  display: flex;
}

.statistics-items {
  padding-top: 16px;
  border-top: 1px solid #D9D9D9;
}

.statistics-btn {
  border: 1px solid #D9D9D9;
  background-color: #ffff;
  flex: 1;
  padding: 8px 16px;
}

.statistics-btn-active {
  border-color: #1890FF;
}

.item-info {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-counter {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
  margin-right: 4px;
}

.item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
}

@media (max-width: 1250px) {
  .container {
    justify-content: flex-start;
    width: 95%;
  }

  .create-post-footer {
    justify-content: center;
  }
  .tag {
    margin-bottom: 10px;
  }

  .right-sidebar {
    display: none;
  }
  
  .header-block {
    width: 95%;
  }
}

@media (max-width: 960px) {
  .header .user {
    display: none;
  }

  .navigation-panel {
    display: none;
  }
}

@media (max-width: 840px) {
  .menu-sidebar {
    position: fixed;
    left: 0;
    top: 25px;
    width: 100%;
    max-width: 250px;
    background-color: #f1f1f1;
    padding-top: 12px;
    height: 100%;
    padding-left: 2%;
    transform: translateX(-100%);
    transition: transform .3s;
  }
  .menu-sidebar.active {
    transform: translateX(0);
  }
  .m-menu {
    display: flex;
  }
}

@media (max-width: 760px) {
  .search {
    display: none;
  }
}